h1 a {
    text-decoration: none;
    color: black;
}

.CharactersList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.CharacterCard {
    border: 1px solid #cadfff;
    background-color: #f3f7ff;
    border-radius: 0.5em;
    padding: 1em;
    margin: 0.5em;
    max-width: 200px;
}

.CharacterImage {
    width: 120px;
}

/* 
.ValueOutputField {
}
 */

.ValueOutputField .Name {
    color: #96c0ff;
    font-size: 0.6em;
}

.ValueOutputField .Value {
    margin-left: 5px;
    max-width: 115px;
}


